<!DOCTYPE html>
<html>
  <head>

      <nav>
          <ul id="user-account">

              <li><a href="/login">login</a></li>
              <li><a href="/logout">logout</a></li>
          </ul>
          <ul>

              <li><a href="/">home</a></li>
              <li><a href="/blog">all posts</a></li>
              <li><a href="/newpost">new post</a></li>
          </ul>
  
      </nav>

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/styles.css">

    {% block content %} {% endblock %}
  </body>
</html>
