{% extends "base.html" %} {% block content %}

<h1>Login</h1>
    <p class="error"></p>
    <form method="post">
        <table>
            <tr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul class=flashes>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}

                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="">
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/signup">Create one!</a></p>

    </body>
</html>

{% endblock %}
